# Project exclude paths
/venv/
*.sqlite3
./.env
__pycache__
*.egg-info
.idea/
/.gcloudignore
/app.yaml
/main.py
/requirements.txt
/static/
*/*/__pycache__

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/