[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "==3.2.8"
django-rest-multiple-models = "*"
django-cors-headers = "*"
django-polymorphic = "*"
drf-firebase-auth = "*"
drf-access-policy = "*"
django-filter = "*"
django-q = "*"
coreapi = "*"
requests = "*"
jsonschema = "*"
psycopg2-binary = "*"

[dev-packages]
yapf = "*"
pylint = "*"

[requires]
python_version = "3.9"
